#app {
  height: 100vh;
  width: 100vw;
  display: flex;
  background-color: gray;
}

#surface {
  background-color: #D6D3CD;
  width: 660px;
  height: 330px;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  border: 5px solid #F3B22F;
  display: flex;
}

#keyboard {
  width: 50%;
  height: 85%;
  /* background-color: gray; */
  align-self: center;
  /* margin-top: 2%; */
  /* margin-bottom: 2%; */
  margin-left: 20px;
  display: grid;
  grid-template-columns: auto auto auto;
}

button {
  background-color: gray;
  align-self: center;
  border: none;
  height: 90%;
  width: 90px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 5px 2px 0 #3C3B3A;
  font-size: 20px;
  font-weight: 600;
}

#controls {
  align-self: center;
  background-color: gray;
  height: 65%;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  font-weight: 900;
  text-align: center;
  display: flex;
  flex-direction:column;
  justify-content: space-between;
}

#toggler {
  margin-left: auto;
  margin-right: auto;
}

#nameBox {
  margin-left: auto;
  margin-right: auto;
  height: 40px;
  width: 150px;
  background-color: #D6D3CD;
  display: flex;
}

#volume {
  height: 40px;
  width: 150px;
  background-color: #D6D3CD;
  margin-left: auto;
  margin-right: auto;
}

#name {
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}

