#app {
  height: 100vh;
  width: 100vw;
  display: flex;
  background-color: gray;
}

#drum-machine {
  align-self: center;
  background-color: #D6D3CD;
  width: 660px;
  height: 330px;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #F3B22F;
  display: grid;
  grid-template-columns: 60% 40%;
}

#display {
  width: 50%;
  height: 85%;
  align-self: center;
  margin-left: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.drum-pad {
  background-color: gray;
  border: none;
  height: 85px;
  line-height: 85px;
  width: 95px;
  border-radius: 5px;
  box-shadow: 5px 5px 2px 0 #3C3B3A;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

#rightPane {
  display: grid;
  grid-template-rows: 1fr 1.5fr 1.5fr 1.5fr 1.5fr;
  justify-items: center;
  background-color: gray;
  font-weight: 600;
}

#logo {
  width: 30px;
  height: 30px;
  margin-top: 0px;
  margin-right: 10px;
  place-self: end;
}

#toggler {
}

#volume {
  height: 25px;
  width: 150px;
  background-color: #D6D3CD;
}

#nameBox {
  height: 40px;
  width: 150px;
  background-color: #D6D3CD;
  display: flex;
}

#name {
  margin: 0 auto 0 auto;
  align-self: center;
}

